#mkps_stake_details .inside {
    padding: 20px;
}

#mkps_stake_details label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#mkps_stake_details input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}