.mkps-stake-form {
    margin: 20px 0;
}

.mkps-stake-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.mkps-stake-form input[type="number"],
.mkps-stake-form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.mkps-stake-form button {
    background-color: #402176;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.mkps-stake-form button:hover {
    background-color: #824F00;
}

#mkps-stake-feedback {
    margin-top: 10px;
    font-weight: bold;
}

.mkps-frontend-container {
    margin: 20px 0;
}

#mkps-notifications-toggle {
    background-color: #100418;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.mkps-notifications {
    list-style: none;
    padding: 0;
}

.mkps-notifications li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.mkps-unread {
    background-color: #9DC1FF00;
    font-weight: bold;
}

.mkps-read {
    background-color: #4D4C4C;
}

.mkps-unread-count,
.mkps-available-count {
    color: #A2C1FF;
    font-weight: bold;
}

.mkps-stake-count {
    background: #5300AA;
    color: white;
    padding: 2px 6px;
    border-radius: 10px;
    font-size: 12px;
}

.mkps-pagination {
    margin-top: 10px;
}

.mkps-pagination a {
    margin-right: 5px;
    text-decoration: none;
}

.mkps-available-stakes-button {
    background-color: #28A745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.mkps-notification-bubble {
    background-color: red;
    color: white;
    padding: 2px 6px;
    border-radius: 10px;
    margin-left: 5px;
    font-size: 12px;
}

.mkps-spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 3px solid #CD0000;
    border-top: 3px solid #0B9F4E;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.mkps-cancel-button {
    background-color: #DC3545;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.mkps-cancel-button:hover {
    background-color: #9F8F21;
}

.mkps-team-form {
    margin: 20px 0;
}
.mkps-team-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.mkps-team-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.mkps-team-form button {
    background-color: #297D0B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.mkps-team-form button:hover {
    background-color: #1039AF;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}